<h3>Contacts</h3>
<h4>eugen admin +3434345353 </h4>
<h4>masha barber +3243455353 </h4>

<h3>Форма обратной связи:</h3>

<form action= "/contacts" method="POST" role="form">
	<div class="form-group">
		<input name="contact[email]" type="text" class="form-control" placeholder="Ваш E-mail" value="<%= @ct.email %>">
	</div>

	<div class="form-group">
		<textarea name="contact[message]" class="form-control" rows="3" placeholder="Поле для ввода сообщения" value="<%= @ct.message %>"></textarea>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Отправить сообщение</button>
	</div>
</form>